 .accordion .accordion {
    margin-left: 10px;
    margin-right: 10px;
    --bs-accordion-border-radius: 10px;
    --bs-accordion-inner-border-radius: 10px;
    --bs-accordion-bg: #fafafa !important;
    --bs-accordion-border-color: none;
    border: none !important;
  }

  .accordion a {
    text-decoration: none;
  }
  
  .accordion .accordion-header {
    border-bottom: 1px solid #eaeaea !important;
  }
  
  .accordion .accordion-button  {
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    color: #1e1e1e;
  }

  .accordion .accordion-button:not(.collapsed) {
    color: #f35525 !important;
    background-color: #fafafa !important;
    outline: none;
  }
  
  .accordion .accordion-button::after {
    display: none;
  }
  
  .accordion  .accordion-button .collapsed{
    color: #abf325 !important;
  }